<header>
    page header
    <ul>
        <% if(locals.user){%>
        <li><%= user.name %></li>
        <li>
            <a href = "/users/sign-out">signout</a>
        </li>
        <%} else {%>
            <li>
                <a href = "/users/sign-in">signin</a>
            </li>
            <li>
                <a href = "/users/sign-out">signout</a>
            </li>
            <%}%>
    </ul>
</header>